/*======= GOOGLE FONTS =======*/
@import url("https://fonts.googleapis.com/css2?family=Jersey+25&display=swap");
/*======= VARIABLES CSS =======*/

:root {
  /*--- Colors ---*/
  --white-color: ;
  --black-color: ;

  /*--- Font family ---*/
  --body-font: "Jersey 25", sans-serif;

  /*--- Font sizes ---*/
  --h1-fs: ;
  --normal-fs: ;
  --small-fs: ;

  /*--- Font weight ---*/
  --medium: ;
}

/*======= BASE =======*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

input,
button,
body {
  font-family: var(--body-font);
  font-size: var(--normal-fs);
}

body {
  color: var(--white-color);
  overflow-y: hidden;
  overflow-x: hidden;
}

input,
button {
  outline: none;
  border: none;
}

a {
  text-decoration: none;
}
