.main {
  width: 100%;
  height: 100vh;
  background-image: url(../img/Home.webp);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.btn__start {
  padding: 2rem 2rem;
  background-color: red;
  color: white;
  border-radius: 50%;
}
